<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/chose_game.css">
    <script src="js/lobby.js"></script>
</head>
<body>

  <form action="" method="POST">
      <button name="transit" value="exit">Log out</button>
  </form>

    <div id="info">
        <h3 id="name"></h3>
        <div style="display: flex; justify-content: center;">
            <div id="wins"></div>
            <div id="loses"></div>
        </div>
    </div>


    <form action="">
        <input class='start-btn' value="START" type="submit">

    <div id="chose_hero">
          <label>
            <input type="radio" name="fb" value="small" />
            <img src="assets/images/Thanos.gif">
          </label>  
          <label>
            <input type="radio" name="fb" value="small" />
            <img src="assets/images/2.gif">
          </label>  
          <label>
            <input type="radio" name="fb" value="small" />
            <img src="assets/images/3.gif">
          </label>  


    </div>
    <div id="des">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae officia vitae similique odit laudantium ratione nam qui accusantium! Sed, nihil odit. Molestias quod vel quos nemo, in soluta minima suscipit!</div>
    </form>

</body>
</html>