<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Card Game">
  <link rel="stylesheet" href="style/style.css">
  <script src="js/utils.js"></script>
</head>

<body>
  <!-- <input type="button" value="Rotate" onclick="rotateCoin()"> -->
<div id="myProgress">
  <div id="myBar"></div>
</div>

<form id="finish" action="" method="POST" onsubmit="return checkGame()">
  <input type="submit" value="Surrender" onclick="surrender()">
</form>

<script src="js/time.js"></script>


  <div class="coin" id="coinFace"><div class="enemy_coin" id="coinBack"></div></div>

  <div id="playerHand" class="hand"></div>

  <div id="playerField" class="hand" style="display: fixed; top: 50%;"></div>
  <div id="oponentField" class="hand" style="display: fixed; top: 30%;"></div>

  <img id="enemy" src="assets/images/2.gif" alt="">

  <div id="Elogin">Login enemy</div>
  <div id="Ylogin">Your login</div>


  <img id="you" src="assets/images/3.gif" alt="">
  <div id="oponentHand" class="handUp"></div>

  <div id="SteckC">
    <div class="card"></div>
  </div>
  


  <div id="YourStone">
    <div id="stone">
      <img src="assets/images/stone/1.png" alt="">
      <img src="assets/images/stone/2.png" alt="">
      <img src="assets/images/stone/3.png" alt="">
      <img src="assets/images/stone/4.png" alt="">
      <img src="assets/images/stone/5.png" class="DeStone" alt="">
      <img src="assets/images/stone/6.png" class="DeStone" alt="">
    </div>
  </div>

  <div id="EnemyStone">
    <div id="stone">
      <img src="assets/images/stone/1.png" alt="">
      <img src="assets/images/stone/2.png" alt="">
      <img src="assets/images/stone/3.png" alt="">
      <img src="assets/images/stone/4.png" alt="">
      <img src="assets/images/stone/5.png" alt="">
      <img src="assets/images/stone/6.png" class="DeStone" alt="">
    </div>
  </div>



  <script src="js/script.js"></script>
</body>

</html>
