<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ucode GWENT</title>
  <link rel="stylesheet" href="style/startscreen.css">
</head>

<body>
  <div id="main_container">
    <form action="" method="POST">
      <input required type="text" name="username" placeholder="Login">
      <input required type="password" name="password" placeholder="Password">

      <button type="submit" name="transit" value="authorization">Log in</button>
      <button type="submit" name="transit" value="registration" formnovalidate>Create account</button>
      <a href="?operation=remind">Forgot a password?</a>
    </form> 
  </div>
</body>

</html>