@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

html {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;

  background-image: url("../assets/images/Background/Back5.jpeg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center top;
  background-attachment: fixed;
}

form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;

  width: 100%;
}
.form_container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;

  width: 20vw;
  padding: 20px;
  border-radius: 20px;

  background: green;
  transition: all 0.2s;
}

input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;

  font-size: 1.2rem;
}
button {
  padding: 10px;
  outline: none;
  border: 1px solid black;
  font-size: 1.2rem;
}
button:hover {
  cursor: pointer;
}

#main_container {
  margin: auto;
  width: fit-content;
  height: fit-content;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.remind {
  background: none;
  padding: none;
  outline: none;
  border: none;
  font-size: 0.9rem;
  margin: -10px 0 -15px 0;
}
#registration, #remind {
  display: none;
}